@use "@/style/breakpoint.scss" as bp;

.light {
  --light-color: #fff;
  --toggle-color: #828282;
  --toggle-head-color: #dedede;
  position: absolute;
  top: 50px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // animation: 4s 3s forwards visibleLight;

  @include bp.media(xs, max) {
    transform: scale(0.6);
    top: 20px;
  }

  @keyframes visibleLight {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  .wire {
    position: absolute;
    width: 4px;
    height: 50px;
    background-color: #777;
    top: -70px;
    z-index: 1;
    background-color: #8f8e8e;
  }
  
  .light_bulb {
    position: absolute;
    top: 30px;
    // --light-color: #8f8e8e;
    background-color:#fff;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 2;
    
    &.isLightOn {
      background-color: var(--light-color);
    }
  
    &::before {
      position: absolute;
      content: '';
      width: 35px;
      height: 80px;
      background-color: var(--light-color);
      border-radius: 10px;
      left: 27.5%;
      top: -50px;
      border-top: 30px solid #222;
    }
  
    &::after {
      position: absolute;
      content: '';
      width: 140px;
      height: 140px;
      border-radius: 50%;
      top: 50%;
      left: 0%;
      filter: blur(40px);
      transform: translate(-18%, -40%);
      box-shadow: none;
      // filter: blur(1000px);
    }
    
    &.isLightOn {
      &::after {
        background-color: var(--light-color);
        box-shadow:
          0 0 10px var(--light-color),
          0 0 30px var(--light-color),
          0 0 60px var(--light-color),
          0 0 120px var(--light-color),
          0 0 200px var(--light-color);
      }
    }
  
    span {
      &:nth-child(1) {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: transparent;
        box-shadow: 20px 20px 0 10px var(--light-color);
        ;
        border-bottom-right-radius: 40px;
        transform: rotate(342deg);
        top: -16px;
        left: -4px;
      }
  
      &:nth-child(2) {
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: transparent;
        box-shadow: -20px 20px 0 10px var(--light-color);
        ;
        border-bottom-left-radius: 40px;
        transform: rotate(16deg);
        top: -16px;
        right: -3.4px;
      }
    }
  }
}
