@use "@/style/breakpoint.scss" as bp;

.light {
  --light-color: #fff;
  --dark-color: #333;
  --shadow-color: #222;
  position: absolute;
  top: 50px;
  left: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  animation: 4s 3s forwards visibleLight;

  @include bp.media(xs, max) {
    transform: scale(0.6);
    top: 20px;
  }

  @keyframes visibleLight {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  .wire {
    position: absolute;
    width: 4px;
    height: 50px;
    background-color: var(--dark-color);
    top: -70px;
    z-index: 1;
  }
  
  .light_bulb {
    position: absolute;
    top: 30px;
    background-color: var(--dark-color);
    width: 80px;
    height: 80px;
    border-radius: 50%;
    z-index: 2;
    transition: .5s;

    &::before,
    &::after {
      position: absolute;
      content: "";
      transition: .5s;
    }

    &::before {
      width: 35px;
      height: 80px;
      background-color: var(--dark-color);
      border-radius: 10px;
      left: 27.5%;
      top: -50px;
      border-top: 30px solid var(--shadow-color);
    }

    &::after {
      width: 160px;
      height: 140px;
      border-radius: 50%;
      top: 50%;
      left: 0%;
      filter: blur(30px);
      transform: translate(-23%, -40%);
      box-shadow: none;
    }

    &.isLightOn {
      background-color: var(--light-color);

      &::before {
        background-color: var(--light-color);
      }

      &::after {
        background-color: var(--light-color);
        box-shadow:
          0 0 10px var(--light-color),
          0 0 30px var(--light-color),
          0 0 60px var(--light-color),
          0 0 120px var(--light-color),
          0 0 200px var(--light-color);
      }

      span {
        &:nth-child(1) {
          box-shadow: 20px 20px 0 10px var(--light-color);
        }
        &:nth-child(2) {
          box-shadow: -20px 20px 0 10px var(--light-color);
        }
      }
    }
  
    span {
      position: absolute;
      width: 30px;
      height: 30px;
      background-color: transparent;
      transition: .5s;

      &:nth-child(1) {
        box-shadow: 20px 20px 0 10px var(--dark-color);
        border-bottom-right-radius: 40px;
        transform: rotate(342deg);
        top: -16px;
        left: -4px;
      }
  
      &:nth-child(2) {
        box-shadow: -20px 20px 0 10px var(--dark-color);
        border-bottom-left-radius: 40px;
        transform: rotate(16deg);
        top: -16px;
        right: -3.4px;
      }
    }
  }
}
