@use "sass:map";

// breakpoint.scss

// ブレークポイント用のmap
$breakpoints: (
  xxxs: 330px,
  xxs: 390px,
  xs: 600px,
  sm: 810px,
  md: 1024px,
  lg: 1440px,
  xl: 1920px
);

// メディアクエリ生成
@mixin media($breakpoint, $type: max) {
  $size: map.get($breakpoints, $breakpoint);

  // max-width
  @if $type == max {
    @media(max-width: $size) {
      @content;
    }
  // min-width
  } @else if $type == min {
    @media(min-width: $size) {
      @content;
    }
  }
}
