.threejs_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100vh;
  z-index: -1;
}

.rocket {
  position: absolute;
  bottom: 0;
  right: 40%;
  animation: moveRocket 60s 10s linear infinite;

  @keyframes moveRocket {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 100%;
    }
  }

  .rocket_fire {
    animation: fireBlinking 0.5s linear infinite;

    @keyframes fireBlinking {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.ufo {
  position: absolute;
  top: 300px;
  left: -100px;
  animation: moveUFO 20s 1s linear infinite;

  .ufo_svg {
    width: 50px;
    height: 50px;
  }

  @keyframes moveUFO {
    0% {
      top: 500px;
      left: 100px;
    }
    10% {
      top: 550px;
    }
    20% {
      top: 500px;
    }
    30% {
      top: 600px;
    }
    40% {
      top: 450px;
    }
    50% {
      top: 500px;
    }
    60% {
      top: 700px;
    }
    70% {
      top: 500px;
    }
    80% {
      top: 600px;
    }
    90% {
      top: 450px;
    }
    100% {
      top: 500px;
      left: calc(100% + 300px);
    }
    
  }

  .rocket_fire {
    animation: fireBlinking 0.5s linear infinite;

    @keyframes fireBlinking {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}
