@use "@/style/breakpoint.scss" as bp;

.threejs_container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  // height: 100vh;
  z-index: -1;
}

.rocket {
  position: absolute;
  bottom: 0;
  right: 40%;
  animation: moveRocket 60s linear infinite;

  @keyframes moveRocket {
    0% {
      bottom: 0;
    }
    100% {
      bottom: 100%;
    }
  }

  .rocket_fire {
    animation: fireBlinking 0.5s linear infinite;

    @keyframes fireBlinking {
      0% {
        opacity: 0;
      }
      100% {
        opacity: 1;
      }
    }
  }
}

.ufo {
  position: absolute;
  top: 300px;
  left: -100px;
  animation: moveUFO 60s linear infinite;
  animation-delay: 20s; // 最初の遅延を設定

  .ufo_svg {
    @include bp.media(xs, max) {
      width: 50px;
      height: 50px;
    }
  }

  @keyframes moveUFO {
    0% {
      top: 700px;
      left: -100px;
      opacity: 1;
    }
    5% {
      top: 800px;
    }
    10% {
      top: 650px;
    }
    15% {
      top: 800px;
    }
    20% {
      top: 700px;
    }
    25% {
      top: 850px;
    }
    30% {
      top: 600px;
    }
    35% {
      top: 800px;
    }
    40% {
      top: 650px;
    }
    45% {
      top: 800px;
    }
    50% {
      top: 700px;
      left: calc(100% + 300px);
    }
    60% {
      top: 700px;
      opacity: 1;
    }
    90% {
      top: 450px;
      left: calc(100% + 300px);
      opacity: 0; // 画面外に出たら透明に
    }
    100% {
      top: 500px;
      left: -100px;
      opacity: 0; // 最初は透明
    }
  }

  // .rocket_fire {
  //   animation: fireBlinking 0.5s linear infinite;

  //   @keyframes fireBlinking {
  //     0% {
  //       opacity: 0;
  //     }
  //     100% {
  //       opacity: 1;
  //     }
  //   }
  // }

}
.astronaut {
  position: absolute;
  bottom: 200px;
  left: 10px;
  animation: astronautMove 5s linear infinite;

  .astronaut_Svg {
    @include bp.media(sm, max) {
      width: 100px;
      height: 100px;
    }
  }

  @keyframes astronautMove {
        0% {
          transform: translate(0, 0);
        }
        25% {
          transform: translate(10px, 10px);
        }
        50% {
          transform: translate(0px, 0px);
        }
        75% {
          transform: translate(-10px, -10px);
        }
        100% {
          transform: translate(0, 0);
        }
      }
    }

