.creation {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // flex-direction: column;
  justify-content: center;
  align-items: center;

  .photo_site, .todo_app {
    position: relative;

    .photo_site_img {
      position: absolute;
      top: 0px;
      // top: 233px;
      // left: 50%;
      // transform: translate(-50%, -50%);
      width: 302px;
      height: 170px;
      object-fit: cover;
      visibility: hidden;
      opacity: 0;
      pointer-events: none;

      &.isOn {
        animation: onScreen 2s forwards;
        pointer-events: auto;
      }
      @keyframes onScreen {
        0% {
          opacity: 0;
          visibility: hidden;
        } 100% {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }
}