.creation {
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  // flex-direction: column;
  // justify-content: center;
  // align-items: center;

  .photo_site, .todo_app {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    .photo_site_img {
      position: absolute;
      top: 233px;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 302px;
      height: 170px;
      object-fit: cover;
    }
  }
}