@use "@/style/breakpoint.scss" as bp;

.switch {
  position: fixed;
  right: 30px;
  bottom: 50px;
  width: 60px;
  height: 80px;
  background: linear-gradient(#eee, #ccc, #eee);
  border: 3px solid #000;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  visibility: hidden;
  // animation: 4s 3s forwards visibleSwitch;

  opacity: 1;
  visibility: visible;

  @include bp.media(xs, max) {
    right: 20px;
    bottom: 50px;
  }

  @keyframes visibleSwitch {
    0% {
      opacity: 0;
      visibility: hidden;
    }
    100% {
      opacity: 1;
      visibility: visible;
    }
  }

  @include bp.media(xs, max) {
    transform: scale(0.8);
  }

  .on_text,
  .off_text {
    position: absolute;
  }

  .on_text {
    top: -25px;
    visibility: hidden;
    opacity: 0;

    &.switchOn {
      visibility: visible;
      opacity: 1;
    }
  }
  .off_text {
    bottom: -30px;
    visibility: hidden;
    opacity: 0;
    
    &.switchOff {
      visibility: visible;
      opacity: 1;
    }
  }

  .switchBtn {
    position: relative;
    width: 30px;
    height: 45px;
    background: linear-gradient(#538392, #fff, #777);
    border-radius: 6px;
    border: 3px solid #000;
    cursor: pointer;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 85%;
      background: linear-gradient(#fff, #fff);
      border-radius: 3px;
    }

    &::after {
      content: "";
      position: absolute;
      top: 45%;
      left: 50%;
      transform: translateX(-50%);
      width: 80%;
      height: 1px;
      background-color: #9a9a9a;
      border-radius: 10px;
    }
  }

  &.switchOn {
    .switchBtn {
      transform-origin: .3s;
      &::before {
        top: 15%;
      }

      &::after {
        content: "";
        top: 55%;
        height: 1.5px;
      }
    }

    &:hover {
      // opacity: 0.7;
    }
  }
}
