@use "@/style/breakpoint.scss" as bp;

.skills {
  position: relative;
  max-width: 1000px;
  width: 100%;
  margin-bottom: 100px;
  .skills_title {
    text-align: center;
    font-size: 40px;
    margin-bottom: 50px;
    font-weight: bold;
    text-shadow: -1px -1px #0a0a0a, 1px -1px #0a0a0a, -1px 1px #0a0a0a,
      1px 1px #0a0a0a;
  }

  .skills_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;

    @include bp.media(md, max) {
      grid-template-columns: repeat(2, 1fr);
    }

    @include bp.media(xs, max) {
      grid-template-columns: repeat(1, 1fr);
    }
    
    .skills_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 15px 10px;
      border: 1px solid #fff;
      border-radius: 5px;
      background-color: #222;
      visibility: hidden;
      opacity: 0;

      &.isVisible {
        animation: skillAppearance 2s forwards;
      }

      @keyframes skillAppearance {
        0% {
          transform: rotate(15deg);
          visibility: hidden;
          opacity: 0;
        }
        100% {
          transform: rotate(0deg);
          visibility: visible;
          opacity: 1;
        }
      }
      
      .skill_images {
        display: flex;
        gap: 20px;
      }
      .skill_image {
        width: 50px;
        height: 50px;
      }
      .skill_description {
        display: flex;
        align-items: center;
        height: 100%;
        font-size: 14px;
        padding: 5px 10px;
        line-height: 2;
      }
      .devicon-github-original {
        font-size: 50px;
      }
    }
  }
}
