@use "@/style/breakpoint.scss" as bp;

.profile {
  max-width: 1000px;
  width: 100%;
  margin-bottom: 200px;
  letter-spacing: .2em;

  @include bp.media(sm, max) {
    margin-bottom: 100px;
  }

  .profile_wrap {
    display: flex;
    flex: 1;
    align-items: center;

    @include bp.media(sm, max) {
      flex-direction: column;
      gap: 10px;
    }

    .profile_myName {
      display: flex;
      flex: 4;
      font-size: 40px;
      font-weight: bold;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      text-shadow: -1px -1px #0a0a0a, 1px -1px #0a0a0a, -1px 1px #0a0a0a, 1px 1px #0a0a0a;
      visibility: hidden;
      opacity: 0;

      @include bp.media(sm, max) {
        font-size: 32px;
      }

      &.isVisible {
        animation: textAppearance 1s forwards;
      }
      @keyframes textAppearance {
        0% {
          visibility: hidden;
          opacity: 0;
        } 100% {
          visibility: visible;
          opacity: 1;
        }
      }

      .git_link {
        transition: .3s;
        &:hover {
          transform: scale(1.2);
        }
        .git_icon {
          width: 80px;
          height: 80px;
        }
      }
    }

    .profile_description {
      flex: 6;
      font-size: 20px;
      text-shadow: -1px -1px #0a0a0a, 1px -1px #0a0a0a, -1px 1px #0a0a0a, 1px 1px #0a0a0a;
      letter-spacing: .2em;
      line-height: 2.5;
      visibility: hidden;
      opacity: 0;

      &.isVisible {
        animation: descriptionAppearance 1s 0.5s forwards;
      }

      @include bp.media(sm, max) {
        font-size: 16px;
      }

      @include bp.media(sm, max) {
       padding: 20px;
      }
      @keyframes descriptionAppearance {
        0% {
          transform: translateY(100px);
          visibility: hidden;
          opacity: 0;
        } 100% {
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &.isSwitchOn {
    // background-color: #fff;
    border-radius: 10px;
    .profile_wrap {
      .profile_myName {
        // color: #538392;
      }
  
      .profile_description {
        // color: #b3e2a7;
  
        &.isVisible {
          animation: descriptionAppearance 1s 0.5s forwards;
        }
  
        @include bp.media(sm, max) {
         padding: 20px;
        }
        @keyframes descriptionAppearance {
          0% {
            transform: translateY(100px);
            visibility: hidden;
            opacity: 0;
          } 100% {
            transform: translateY(0);
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }
}