@use "@/style/breakpoint.scss" as bp;

.profile {
  max-width: 1000px;
  width: 100%;
  margin-bottom: 200px;
  letter-spacing: .2em;

  @include bp.media(sm, max) {
    margin-bottom: 100px;
  }

  .profile_wrap {
    display: flex;
    flex: 1;
    align-items: center;

    @include bp.media(sm, max) {
      flex-direction: column;
      gap: 10px;
    }


    .profile_myName {
      display: flex;
      flex: 4;
      font-size: 40px;
      font-weight: bold;
      flex-direction: column;
      align-items: center;
      gap: 30px;
      visibility: hidden;
      opacity: 0;

      &.isVisible {
        animation: textAppearance 1s forwards;
      }
      @keyframes textAppearance {
        0% {
          visibility: hidden;
          opacity: 0;
        } 100% {
          visibility: visible;
          opacity: 1;
        }
      }

      .git_link {
        transition: .3s;
        &:hover {
          transform: scale(1.2);
        }
      }
    }

    .profile_description {
      font-size: 20px;
      letter-spacing: .2em;
      line-height: 2.5;
      flex: 6;
      visibility: hidden;
      opacity: 0;

      &.isVisible {
        animation: descriptionAppearance 1s 0.5s forwards;
      }

      @include bp.media(sm, max) {
       padding: 20px;
      }
      @keyframes descriptionAppearance {
        0% {
          transform: translateY(100px);
          visibility: hidden;
          opacity: 0;
        } 100% {
          transform: translateY(0);
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }
}